.projects {
	padding: 200px 0 100px;
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(3, 3fr);
	grid-template-rows: repeat(3, 485px);
	gap: 20px;
	height: auto;
}

.project-item {
	position: relative;
	overflow: hidden;
}

.project-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.project-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	color: #fff;
	transition: opacity 0.3s ease;
}


.project-item:nth-child(odd):hover .project-overlay {
	opacity: 1;
	background: rgba(58, 58, 58, 0.7);
}

.project-item:nth-child(even):hover .project-overlay {
	opacity: 1;
	background: rgba(151, 0, 0, 0.7);
}

.project-details {
	flex-direction: column;
	text-align: center;
	font-size: clamp(18px, 3vw, 24px);
}

.project-details h3 {
	margin-bottom: 20px;
}

.more-details {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.plus {
  --b: 10px;   /* the thickness*/
  --c: #0000 90deg,#000 0; /* the coloration */
  width: 80px; /* the size */
  aspect-ratio: 1;
  background:
    conic-gradient(from 90deg at var(--b) var(--b),var(--c)) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
    transition: background 0.3 ease;
}

.project-item:hover img {
	transform: scale(1.1);
}
