/* Hero section */
.services-hero {
	margin-top: 100px;
	position: relative;
	height: 400px;
	overflow: hidden;
}

.services-hero .hero-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.services-hero .hero-content {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%);
	color: #fff;
	z-index: 1;
}

.services-hero h1 {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 10px;
}

.services-hero .breadcrumb {
	font-size: 16px;
}

.services-hero .breadcrumb a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.services-hero .breadcrumb a:hover {
  color: var(--light-gray);
}
/* Services Grid */
.services {
	padding: 200px 0 100px;
}

.services-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(1152px, 1fr));
}

.service-card {
	display: flex;
	flex-direction: column;
	background-color: #970000;
	color: #fff;
	overflow: hidden;
}

.serivce-card img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.card-content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-content h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.card-content p {
	font-size: 16px;
	line-height: 1.5;
}

.service-card:nth-child(even) {
	flex-direction: row-reverse;
}

@media (min-width: 768px) {
    .service-card {
        flex-direction: row;
    }

    .service-card img {
        width: 50%;
    }

    .card-content {
        width: 50%;
    }

    .service-card:nth-child(even) {
        flex-direction: row-reverse;
    }
}

/* Responsive Design */
@media (max-width: 767px) {
  .services-grid {
  	display: grid;
  	grid-template-columns: 1fr;
  }
  .service-card {
    flex-direction: row;
  }
  .service-card img,
  .card-content {
    width: 50%;
    object-fit: cover;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .services-grid {
  	display: grid;
  	grid-template-columns: 1fr;
  }
  .service-card {
    flex-direction: row;
  }
  .service-card img,
  .card-content {
    width: 50%;
    object-fit: cover;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
}
@media (min-width: 1440px) {
}